<%- include("header");  -%>

     
             <h1><%= listTitle %></h1>
    

        <form class="itemForm" method="post" action="/">
            <input type="text" id="item" name="item" autocomplete="off" required>
           
            <button type="submit" name="listForm" value="<%= listTitle %>">+</button>
        </form>


        <div class="boxitems">
            <% listOfItems.forEach(function(item){ %>
                <input type="checkbox" value="<%= item.id %>">
                <input type="hidden" id="listName" name="listName" value="<%= listTitle %>">
                <p><%= item.name %></p>
            <% }) %>
            
        <div>

 <%- include("footer");  -%>